<h1>Editing planvital</h1>

<%= render "form", planvital: @planvital %>

<br>

<div>
  <%= link_to "Show this planvital", @planvital %> |
  <%= link_to "Back to planvitals", planvitals_path %>
</div>
